/build/
/out/
/bin/
/web-build/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
*.cmake
*.ninja

.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.suo
*.db
*.opendb

*.exe
*.out
*.app
*.lib
*.dll
*.so
*.dylib
*.a
*.pdb

.vscode/
.idea/
.cache/

.clang-tidy

.DS_Store
Thumbs.db

test/*
pong.cpp

compile_commands.json

!/Makefile

# Doxygen output
docs/

# other
ignore*

# dpkg
debian/tmp/
debian/*.log
debian/*.substvars
debian/debhelper-build-stamp
debian/files
debian/libcangine1/
debian/libcangine-dev/
debian/libcangine1-dbgsym/
.debhelper/
debian/*.debhelper
debian/*.debhelper.log